/* Cabeçalho da página*/
header {
    background: #c0c0c0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

iframe {
    max-width: 100%;
    max-height: 100%;
}

header a {
    color: #020202;
    text-align: center;
}

#menu_navegacao {
    display: flex;
    align-content: center;
}

#menu_navegacao a {
    text-align: center;
    flex: 1 1 1;
}

#menu_busca {
    display: flex;
    align-content: center;
    text-align: center;
}

/* Barra de pesquisa */
#search-bar {
    display: inline;
}

/* Form do botão de pesquisa e da barra de pesquisa */
#menu_busca>form {
    display: flex;
    flex: 1;
}

main div div h1 {
    text-align: center;
}

#section_lancamentos {
    margin: 20px;
}

.carousel .carousel-indicators {
    position: relative;
}

.carousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.botoes_carousel .carousel-indicators button.active {
    display: inline-block;
    background-color: #535353;
}

.botoes_carousel .carousel-indicators button:not(.active) {
    display: inline-block;
    background-color: #c3c3c3;
}

#section_destaque .dropdown button {
    float: right;
}

#section_destaque h1 {
    text-align: left;
}

#section_destaque #cards_filmes_destaque .row .col-3 {
    margin-bottom: 10px;
}

#section_destaque #cards_filmes_destaque img {
    width: 300px;
    height: 450px;
}

#section_ultimas_avaliacoes h1 {
    text-align: left;
}

#section_ultimas_avaliacoes #cards_ultimas_avaliacoes .card-header {
    justify-content: space-between;
}

#section_ultimas_avaliacoes #cards_ultimas_avaliacoes img {
    position: relative;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin: 5px;
    vertical-align: middle;
}

#section_ultimas_avaliacoes #cards_ultimas_avaliacoes h2 {
    display: inline;
    vertical-align: middle;
    margin-left: 5px;
}

#section_ultimas_avaliacoes #cards_ultimas_avaliacoes .card-text {
    margin: 5px;
}

/* Rodapé da página */
footer {
    background: #c0c0c0;
    color: #020202;
    text-align: center;
}

/* Imagens da parte 'Em destaque' */
#cards_filmes_destaque>div>div>a>img {
    margin: 10px;
}

/* Comentários das últimas avaliações */
#cards_ultimas_avaliacoes>div>div>div>p {
    font-size: 12pt;
    text-overflow: ellipsis;
    overflow: auto;
    height: 400px;
}