header {
    background: #c0c0c0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

iframe {
    max-width: 100%;
    max-height: 100%;
}

header a {
    color: #020202;
    text-align: center;
}

.menu_navegacao {
    display: flex;
    align-content: center;
}

.menu_navegacao a {
    text-align: center;
    flex: 1 1 1;
}

.menu_busca {
    display: flex;
    align-content: center;
    text-align: center;
}

main div div h1 {
    text-align: center;
}

#section_lancamentos {
    margin: 20px;
}

.carousel .carousel-indicators {
    position: relative;
}

.carousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.botoes_carousel .carousel-indicators button.active {
    display: inline-block;
    background-color: #535353;
}

.botoes_carousel .carousel-indicators button:not(.active) {
    display: inline-block;
    background-color: #c3c3c3;
}

#section_destaque .dropdown button {
    float: right;
}

#section_destaque h1 {
    text-align: left;
}

#section_destaque #cards_filmes_destaque .row .col-3 {
    margin-bottom: 10px;
}

#section_destaque #cards_filmes_destaque img {
    width: 300px;
    height: 450px;
}

#section_ultimas_avaliacoes h1 {
    text-align: left;
}


footer {
    background: #c0c0c0;
    color: #020202;
    text-align: center;
}