/* Cabeçalho da página*/
header {
    background: #c0c0c0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* Barra de pesquisa */
#search-bar {
    display: inline;
}

/* Form do botão de pesquisa e da barra de pesquisa */
#menu_busca>form {
    display: flex;
    flex: 1;
}

/* Rodapé da página */
footer {
    background: #c0c0c0;
    color: #020202;
    text-align: center;
}

/* Caixa dos resultados */
.box-resultado {
    margin: 10px 10px;
    overflow: auto;
    color: dimgray;
    clear: both;
}

/* Imagem dos resultados */
.box-resultado img {
    float: left;
    margin-right: 10px;
    width: 180px;
}

/* Título dos resultados */
.box-resultado .titulo {
    font-weight: 700;
}

/* Título original dos resultados */
.box-resultado .titulo-original {
    font-style: italic;
}