/* Cabeçalho da página*/
header {
    background: #c0c0c0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* Barra de pesquisa */
#search-bar {
    display: inline;
}

/* Form do botão de pesquisa e da barra de pesquisa */
#menu_busca>form {
    display: flex;
    flex: 1;
}

/* Rodapé da página */
footer {
    background: #c0c0c0;
    color: #020202;
    text-align: center;
}

/* Botões de navegação: Inicio */

/* Botão página anterior */
#botao_pagina_anterior {
    float: left;
}

/* Botão próxima página */
#botao_proxima_pagina {
    float: right;
}

/* Botões de navegação: Fim */